{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static '/style.css' %}">
        <link rel="icon" href="{% static '/img/favicon.png' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>

        <title>Aircraft Finder</title>
        <div class="siteLogo">
            <a href="/"><img src="{% static '/img/logo_site.png' %}" alt="logo"></a>
        </div>
    </head>
    {% block extrahead %}{% endblock %}
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
